@define-color black       #000000;
@define-color dark-bg     #1e1e1e;
@define-color light-bg    #353535;
@define-color border      #404040;
@define-color dark-fg     #6a6a6a;
@define-color light-fg    #e6e6e6;
@define-color white       #ffffff;

@define-color neutral        #F09038;
@define-color neutralborder  #4c7899;
@define-color urgent         #900000;
@define-color urgentborder   #B80000;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  border: none;
  border-radius: 0px;
  font-family: IosevkaTerm Nerd Font;
  font-size: 14px;
  padding: 0;
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#scratchpad,
#workspaces,
#mode {
  color: @light-fg;
  /*background-color: @light-bg;
  border: 1px solid @border;*/
  padding: 0 1em;
}

.modules-right,
.modules-left {
  background-color: @light-bg;
  border: 1px solid @border;
}
.modules-left { border-left: none; }

#workspaces {
  padding-left: 0;
  margin-left: 0;
}

#clock {
  margin-right: 0;
}

#workspaces button {
  color: @light-fg;
  padding: 0em 0.2em;
  background-color: @dark-fg;
  border-left: 1px solid @light-bg;
}
#workspaces button.focused {
  color: @white;
  background-color: @neutral;
}
#workspaces button.urgent {
  color: @white;
  background-color: @urgent;
}
#workspaces button.persistent {
  color: @dark-fg;
  background-color: @light-bg;
  border-left: 1px solid @light-bg;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @white;
  background: @light-bg;
}

#mode {
  color: @white;
  background-color: @neutral;
}

#battery.bad {
  color: @white;
  background-color: @urgent;
}
#battery.charging,
#battery.plugged {
  color: @white;
  background-color: @neutral;
}

#network.disconnected {
  color: @white;
  background-color: @urgent;
}

#pulseaudio.muted {
  color: @dark-fg;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @urgent;
}
