keybinds {
    shared {
        bind "Alt h" { GoToPreviousTab; }
        bind "Alt l" { GoToNextTab; }
        bind "Alt k" { FocusPreviousPane; }
        bind "Alt j" { FocusNextPane; }
        bind "Alt f" { ToggleFocusFullscreen; }
    }
    tab {
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
    }
}

simplified_ui true
pane_frames false
default_mode "locked"

theme "light"

themes {
    dark {
        black "#1E1E1E"

        red "#6E6E6E"
        magenta "#6E6E6E"

        orange "#DA7E42"
        green "#93B649"

        bg "#404040"
        fg "#404040"
        white "#404040"

        yellow "#6E6E6E"
        blue "#6E6E6E"
        cyan "#6E6E6E"
    }
    light {
        black "#FDF6E3"

        red "#B2B29A"
        magenta "#B2B29A"

        orange "#B88050"
        green "#B88050"

        bg "#C8C8B0"
        fg "#C8C8B0"
        white "#C8C8B0"

        yellow "#B2B29A"
        blue "#B2B29A"
        cyan "#B2B29A"
    }
}
