keybinds {
    locked {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" { ToggleFloatingPanes; }
    }
    tab {
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
    }
}
ui {
    pane_frames {
        rounded_corners true
    }
}
pane_frames false
default_mode "locked"

themes {
    default {
        fg 64 64 64
        bg 30 30 30
        black 30 30 30
        red 218 126 66
        green 94 150 137
        yellow 255 200 87
        blue 94 150 137
        magenta 218 126 66
        cyan 94 150 137
        white 110 110 110
        orange 218 126 66
    }
}
