keybinds {
    locked {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" { ToggleFloatingPanes; }
    }
    tab {
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
    }
}
pane_frames false
default_mode "locked"

themes {
    default {
        black "#1E1E1E"

        red "#DA7E42"
        magenta "#DA7E42"
        orange "#DA7E42"

        bg "#404040"
        fg "#404040"
        white "#404040"

        green "#6E6E6E"
        yellow "#6E6E6E"
        blue "#6E6E6E"
        cyan "#6E6E6E"
    }
}
