keybinds {
    normal clear-defaults=true {
        bind "Ctrl space" { SwitchToMode "tmux"; }
    }
    tmux {
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "Ctrl h" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "Ctrl l" { GoToNextTab; SwitchToMode "normal"; }
        // bind "h" { MoveFocus "left"; }
        // bind "j" { MoveFocus "down"; }
        // bind "k" { MoveFocus "up"; }
        // bind "l" { MoveFocus "right"; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "m" { SwitchToMode "move"; }
        bind "r" { SwitchToMode "resize"; }
        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
    }
    move {
        bind "f" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
    }
}

pane_frames false
simplified_ui false
default_mode "normal"

theme "custom_ansi"

themes {
    custom_ansi {
        text_unselected {
            base 7
            background 0
            emphasis_0 2
            emphasis_1 2
            emphasis_2 2
            emphasis_3 15
        }
        text_selected {
            base 15
            background "#383b3d"
            emphasis_0 15
            emphasis_1 15
            emphasis_2 15
            emphasis_3 15
        }
        ribbon_unselected {
            base 7
            background "#383b3d"
            emphasis_0 7
            emphasis_1 7
            emphasis_2 7
            emphasis_3 7
        }
        ribbon_selected {
            base 0
            background 2
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        table_title {
            base 2
            background 0
            emphasis_0 2
            emphasis_1 2
            emphasis_2 2
            emphasis_3 2
        }
        table_cell_unselected {
            base 7
            background 0
            emphasis_0 7
            emphasis_1 7
            emphasis_2 7
            emphasis_3 7
        }
        table_cell_selected {
            base 15
            background "#383b3d"
            emphasis_0 15
            emphasis_1 15
            emphasis_2 15
            emphasis_3 15
        }
        list_unselected {
            base 7
            background 0
            emphasis_0 7
            emphasis_1 7
            emphasis_2 7
            emphasis_3 7
        }
        list_selected {
            base 15
            background "#383b3d"
            emphasis_0 15
            emphasis_1 15
            emphasis_2 15
            emphasis_3 15
        }
        frame_selected {
            base 2
            background 0
            emphasis_0 2
            emphasis_1 2
            emphasis_2 2
            emphasis_3 2
        }
        frame_highlight {
            base 4
            background 0
            emphasis_0 4
            emphasis_1 4
            emphasis_2 4
            emphasis_3 4
        }
        exit_code_success {
            base 2
            background 0
            emphasis_0 2
            emphasis_1 2
            emphasis_2 2
            emphasis_3 2
        }
        exit_code_error {
            base 1
            background 0
            emphasis_0 1
            emphasis_1 1
            emphasis_2 1
            emphasis_3 1
        }
        multiplayer_user_colors {
            player_1 5
            player_2 4
            player_3 0
            player_4 3
            player_5 6
            player_6 0
            player_7 1
            player_8 0
            player_9 0
            player_10 0
        }
    }
    light {
        black   "#e7e8e9"

        bg      "#e7e8e9"

        fg      "#878889"
        white   "#878889"
        magenta "#878889"

        red     "#2d2e2f"
        green   "#2d2e2f"
        yellow  "#2d2e2f"
        blue    "#2d2e2f"
        cyan    "#2d2e2f"
        orange  "#2d2e2f"
    }
}
