keybinds {
    shared {
        bind "Alt h" { GoToPreviousTab; }
        bind "Alt l" { GoToNextTab; }
        bind "Alt k" { FocusPreviousPane; }
        bind "Alt j" { FocusNextPane; }
        bind "Alt z" { ToggleFocusFullscreen; }
        unbind "Ctrl g"
        bind "Ctrl b" { SwitchToMode "locked"; }
        // bind "Esc" { SwitchToMode "locked"; }
    }
    locked {
        unbind "Enter"
        unbind "Esc"
        bind "Ctrl b" { SwitchToMode "normal"; }
    }
    tab {
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "0" { GoToTab 10; }
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
    }
    pane {
        bind "n" { NewPane "Right"; SwitchToMode "normal"; }
        bind "b" { NewPane "Down"; SwitchToMode "normal"; }
    }
}

simplified_ui true
pane_frames false
default_mode "locked"

theme "light"

themes {
    dark {
        black   "#1e1e1e"

        bg      "#353535"

        fg      "#4a4a4a"
        white   "#4a4a4a"

        red     "#f0f0f0"
        green   "#f0f0f0"
        yellow  "#f0f0f0"
        blue    "#f0f0f0"
        magenta "#f0f0f0"
        cyan    "#f0f0f0"
        orange  "#f0f0f0"
    }
    light {
        black   "#f0f0f0"

        bg      "#f0f0f0"

        fg      "#929292"
        white   "#929292"
        magenta "#929292"

        red     "#242424"
        green   "#242424"
        yellow  "#242424"
        blue    "#242424"
        cyan    "#242424"
        orange  "#242424"
    }
}
