[user]
	name = eemilhaa
	email = eemil.haapanen@gmail.com

[safe]
    directory = /root/work
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
