[user]
	name = eemilhaa
	email = eemil.haapanen@gmail.com

[safe]
    directory = /root/work

[alias]
    # `git log` with patches shown with difftastic.
    dflog = -c diff.external=difft log -p --ext-diff

    # Show the most recent commit with difftastic.
    dfshow = -c diff.external=difft show --ext-diff

    # `git diff` with difftastic.
    df = -c diff.external=difft diff
